@tailwind base;
@tailwind components;
@tailwind utilities;

.lasalle-green{
  background-color: #087830!important;
}

.lasalle-green-text {
  color: #087830!important;
}

.flickity-page-dots .dot {
  background: #01481f!important;
}

/* @font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 500;
  src: url('/fonts/OpenSans/OpenSans-Medium.ttf') format('truetype');
} */

@font-face {
  font-family: 'Montserrat';
  src: url('~/assets/fonts/Montserrat/MONTSERRAT-VARIABLEFONT_WGHT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HK-Compression';
  src: url('~/assets/fonts/HK_Compression_Heavy_Condensed/HK-COMPRESSION-HEAVY-CONDENSED.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}