.viewer-container{background:#f8f8f8;min-height:100vh;position:relative;width:100%}.cms-box{overflow:hidden;position:absolute}.cms-text{font-size:16px;padding:6px}.cms-image{height:100%;-o-object-fit:contain;object-fit:contain;width:100%}
